<div class="container mt-5">
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
      <label for="email">Email-Adresse</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="userdata.email"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Passwort</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="userdata.password"
        required
        minlength="8"
      />
    </div>
    <div class="form-group">
      <label for="passwordConfirm">Passwort bestätigen</label>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        class="form-control"
        [(ngModel)]="userdata.passwordConfirm"
        required
      />
    </div>
    <div class="form-group">
      <label for="company">Firma</label>
      <input
        type="text"
        id="company"
        name="company"
        class="form-control"
        [(ngModel)]="userdata.company"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="address">Adresse</label>
      <textarea
        id="address"
        name="address"
        class="form-control"
        [(ngModel)]="userdata.address"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="postalCode">Postleitzahl</label>
      <input
        type="text"
        id="postalCode"
        name="postalCode"
        class="form-control"
        [(ngModel)]="userdata.postalCode"
        required
        pattern="^[0-9]*$"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Registrieren
    </button>
  </form>
</div>
